#directories
node_modules/
coverage/
dist/
target/
built/

#files
npm-debug.log
.DS_Store
*.tar.gz
*.hot-update.js
*.hot-update.json
nyc_output
.nyc_output
bundle.js
.classpath
.project
.settings/
package-lock.json
yarn.lock
yarn-error.log
