.pongblock {
    width: 30px;
    height: 100px;
    margin-top: 300px;
    background: lightgreen;
    border-radius: 10px;
    &--left {
        float: left
    }
    &--right {
        float: right;
    }
}